<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">imdb</h5>
        <p class="grey-text text-lighten-4">
          imdb clone created in response to deltaX challenge
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Useful Links</h5>
        <ul class="useful-links">
          <li>
            <a class="blue-text text-lighten-3" [routerLink]="['/']"
              >List Movies</a
            >
          </li>
          <li>
            <a class="blue-text text-lighten-3" [routerLink]="['/add-movie']"
              >Add Movies</a
            >
          </li>
          <li>
            <a class="blue-text text-lighten-3" [routerLink]="['/edit-movie']"
              >Edit Movies</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 All rights reserved :D
      <div class="grey-text text-lighten-4 right social-icons" href="#!">
        <a href="https://github.com/bisho1995" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/bisvarup-mukherjee-78865a131/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a
          href="https://drive.google.com/open?id=1Vd7rRLwi8oJaAcZcYhRECSL8-lgs_g7d"
          target="_blank"
        >
          <i class="fas fa-file-pdf"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
