.header {
  font-size: 2.5rem;
}
form {
  margin: 1rem 0;
  width: 98%;
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .select {
    display: block;
  }

  #actors {
    min-height: 150px;
  }
  #plot {
    height: 150px;
  }
}
